<div class="modal-header align-items-center">
  <h3 class="modal-title" id="modal-title">Weather of {{country?.capital}}</h3>
</div>
<div class="modal-body">
  <div *ngIf="!weatherInformation">Loading...</div>
  <ng-container *ngIf="weatherInformation">
    <div>Temperature: {{weatherInformation?.main?.temp + (currentUnit === 'metric' ? '°C' : '°F')}} </div>
    <div>Humidity: {{weatherInformation?.main?.humidity}}%</div>
    <div>Wind: {{weatherInformation?.wind?.speed}}m/s</div>
    <div>Pressure: {{weatherInformation?.main?.pressure}}hpa</div>
  </ng-container>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>

