<div class="container">
  <h1 class="mt-4">Countries List</h1>
  <form>
    <div class="form-group form-inline mt-4">
      Country Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"/>
      <span class="ml-3" *ngIf="loading">Loading...</span>
    </div>

    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Capital</th>
        <th scope="col">Currencies</th>
        <th scope="col">Sub Region</th>
        <th scope="col">Region</th>
        <th scope="col">Population</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor-pointer"
        *ngFor="let country of countries | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>
          <img [src]="country.flag" class="mr-2"
               style="width: 20px">
          {{country.name}}
        </td>
        <td>
          {{country.capital}}
        </td>
        <td>
          <ng-container
            *ngFor="let currency of country.currencies; let last = last">{{currency?.name}}{{last ? '' : ','}}</ng-container>
        </td>
        <td>
          {{country.subregion}}
        </td>
        <td>
          {{country.region}}
        </td>
        <td>
          {{country.population}}
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2" *ngIf="countries?.length > pageSize">
      <hr/>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="countries?.length"
        [maxSize]="3"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>

  </form>
</div>
